body {
    background-image: url(./negative-space-ocean-climate-weather-1062x708.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatorContainer {
    width: 400px;
    border: 4px solid black;
    border-radius: 10px;
    background-image: url(./jungle-leaves.gif);
    box-shadow: 0px 0px 20px  ;
    
}
.topScreen {
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.logo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    
    /* padding-left: 15px;
    padding-top: 10px;
    background-color: white; */
}
@font-face {
    font-family: tesla;
    src: url(./TESLA.ttf);
}
.logoName {
    font-family: tesla;
    font-size: 15px;
    color: white;
    border: 2px solid black;
    padding: 0 9px 0 9px;
    height: 22px;
    border-radius: 0 0 10px 10px;
    background-color: black;
    /* margin-right: 15px; */
    /* padding-left: 15px;
    padding-top: 10px; */
    /* background-color: white; */
}
#inputHolder {
    /* width: 100%; */
    height: 70px;
    border: none;
    background-color: transparent;
    color: white;
    /* margin: 0;
    padding: 0; */
}

.full-width{
    width: 100%;
    height: 150px;
    border: 0px solid black;
    background-color: transparent;
    color: white;
    font-size: 40px;
    
}
.text-right{
    font-size: 60px;
    text-align: right;
    border: 0px solid white;
    background-color: transparent;
}
.row {
    margin: 0;
    --bs-gutter-x: 0;
    margin-bottom: 10px;
}
.numberButtons {
    /* width: 100%; */
    text-align: center;
    /* padding-top: 5px; */
    display: flex;
    justify-content: space-around;
}
.numberButtons form input {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.numbers {
    background-color: transparent;
    color:white;
    font-weight: 600;
}
.numbers:hover {
    background-color: silver; 
}

.symbol {
    background-color: transparent;
    color:white;
    font-weight: 600;
}
.symbol:hover {
    background-color: orangered; 
 }
.equal {
    background-color: transparent;
    color:white;
    font-weight: 600;
}
.equal:hover {
    background-color: green; 
 }
.clearAll {
    background-color: transparent;
    color:white;
    font-weight: 600;
}
.clearAll:hover {
    background-color: red;
}
.specialKeys {
    color: white;
    background-color: transparent;
    font-weight: 600;
}
.specialKeys:hover {
    background-color: blue;
}